body {
  background-color: grey;
}

.App {
  font-family: "Boogaloo, cursive";
  text-align: center;
  background: hsl(165, 6%, 86%);
  color: #030000;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem 1rem;
  width: 90vw;
  margin: 5rem 0;
  max-width: 1170px;
}

.extra {
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin: 0.5rem 0.5rem auto 0.5rem;
  background: #b2f8f3;
  color: rgb(2, 0, 0);
  text-transform: capitalize;
}
.todo {
  font-family: Lora;
  padding: 1rem 1rem;
  color: #000c0b;
  font-size: 1.5rem;
}
.add {
  font-family: sans-serif;
  text-align: center;
  width: 110px;
  height: 30px;
  font-family: sans-serif;
  border-radius: 5px;
}

.ddd {
  color: rgb(19, 1, 1);
  background-color: rgb(236, 223, 223);
}

.delete {
  width: 72px;
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
  background-color: grey;
  margin: 1rem auto 1rem 7.5rem;
}

.left {
  padding: 20px;
  float: left;
  width: 20%;
}

.main {
  padding: 20px;
  float: left;
  width: 60%;
}

.right {
  padding: 20px;
  float: left;
  width: 20%;
}

@media screen and (max-width: 920px) {
  .left,
  .main,
  .right {
    width: 100%;
  }
}

.container button {
  color: hsl(0, 0%, 1%);
  background: #b2f8f3;
  margin: 2rem 0.5rem 1rem auto;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
